@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --card: #f9fafb;
    --text-primary: #111827;
    --text-secondary: #4b5563;
    --input-bg: #ffffff;
    --input-border: #d1d5db;
    --button-bg: #000000;
    --button-text: #ffffff;
  }

  [data-theme='dark'] {
    --background: #0B0E14;
    --card: #13161C;
    --text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --input-bg: #1c1f26;
    --input-border: #222630;
    --button-bg: #ffffff;
    --button-text: #000000;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}